@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Roles";
}
<style>
    .inputPag:hover {
        background: #D6EAF8; /* Цвет фона под ссылкой */
        cursor: pointer;
    }
</style>
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard v2</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <h3>Роли</h3>

        <div class="card">
            <div class="card-body">
                <div style="display:flex; width:100%; justify-content: space-between;">

                    <div style="width: 20%;" class="mb-2"><a class="btn bg-gradient-success w-100 mb-0 toast-btn" asp-controller="Roles" asp-action="Create">Добавить запись</a></div>
                </div>
                <div class="tableElement" style="width: 100%; height: 30em; overflow: auto; ">
                <table class="table table-bordered table-hover m-0">
                    <thead style=" position: sticky; top:-1px; z-index:500; background-color:#454d55;">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Наименование</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@item.Id</th>
                                    <td>@item.Name</td>
                                    <td>
                                        <a class="btn btn-link text-dark px-3 mb-0" asp-controller="Roles" asp-action="Edit" asp-route-id="@item.Id">
                                            <i class="material-icons text-sm me-2">edit</i>
                                            Редактировать
                                        </a>

                                    </td>
                                    <td>
                                        <a class="btn btn-link text-dark px-3 mb-0" onclick="deleteConfirm('@item.Name','@item.Id')">
                                            <i class="material-icons text-sm me-2">delete</i>
                                            Удалить
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal fade" id="delete-conformation" tabindex="-1" role="dialog" aria-labelledby="deleteconformation">
                <div class="modal-dialog" style="width:501px !important;margin:0 auto;">
                    <div class="modal-content">
                        <div class="modal-header" style="background:#d9534f;color:white;">
                            <h4 class="modal-title" id="delete-conformation">
                                Подтверждение удаления
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <span>
                                            Вы уверены что хотите удалить эту запись?
                                        </span>
                                        <br />
                                        <strong id="deletedValueName">
                                        </strong>
                                        <br />

                                        <strong id="id" hidden="true">
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" onclick="HideModalDelete()">Cancel</button>
                                <input type="submit" class="btn btn-danger" value="Delete" onclick="deleteData()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts
{
<script type="text/javascript">
     var deleteConfirm = function (val,val2) {
         $('#deletedValueName').text(val);
         $('#id').text(val2);
         $('#delete-conformation').modal('show');
     }
     //call this function after click on confirm delete button
     var deleteData = function () {
     $('#divLoading').show();
     var id = $('#id').text();
     $.ajax({
         type: "POST",
         url: '@Url.Action("Delete","Roles", new { Area = "Admin" })',
         data:{id: id},
         success: function (result) {
            $("#delete-conformation").modal('hide');
            location.reload();
         },
         error: function () {
             $("#delete-conformation").modal('show');
         }
     });

    }
    var HideModalDelete = function (){
        $("#delete-conformation").modal('hide');
    }

</script>
}